<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Dexa. All rights reserved.
 * See DEXA.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--event name="controller_action_predispatch">
        <observer name="dexa_warmer_warmer_dispath" instance="Dexa\Warmer\Observer\Frontend\WarmerPredispatch" />
    </event-->
    <event name="controller_action_postdispatch">
        <observer name="dexa_warmer_warmer_dispath" instance="Dexa\Warmer\Observer\Frontend\WarmerDispatch" />
    </event>
</config>
