<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Dexa. All rights reserved.
 * See Dexa.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Backend\Block\Cache">
        <plugin name="Dexa_Warmer::ResetWarmerButton" type="Dexa\Warmer\Plugin\Adminhtml\ResetWarmerButton" />
    </type>
</config>